body{
	width: auto;
	height: auto;
	padding: 10px;
	margin-left: 15px;
	margin-right: 15px;
	font-family: 'Gloria Hallelujah', cursive;
}

#Table1{
	padding: 20px;
	margin-top: 20px;
	font-size: 20px;
}

ul{
    padding: 15px;
}

p{	padding: 5px;
	width: auto;
	height: auto;
}

li{
	width:auto;
	height: auto;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
}

td{
	text-align: center;
}

input:hover{
	background-color: #F3F781;
}

textarea{
 	height: auto;
 }

 textarea:hover{
 	background-color: #F3F781;
 }

#Send{
	width: 250px;
	height: 50px;
}

#LitleNote{
	position: sticky;
	border:1px solid black;
	padding: 10px;
	width: 150px;
	height: 150px;
	background-color: yellow;
	top:0;
	float: right;
}

.checkbox{
	margin:5px;
	width: 30px;
 	height:30px;
}

#Exemple{
	width: auto;
	height: auto;
	font-style: italic;
}

#buttons1{
	display: flex;
	justify-content:space-around;
	height: 50px;
}	

#note1{
	background-color: #FFFF00;
}
