body{
    width: 768px;
    height: auto;
    padding: 10px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

#Table1{
    width: 500px;
    padding: 10px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
}

ol{
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
}

li{
    width: 350px; 
    border: 1px solid blackl
    padding: 15px;
}

td{
    height: 40px;
    text-align: center;
}

input{
    width: 550px; 
    height:50px;
}

input:hover{
     background-color: #F3F781;
}

textarea{
     width: 550px;
     height:50px;
 }

 textarea:hover{
     background-color: #F3F781;
 }

#Send{
    width: 350px;
}

#LitleNote{
    position: sticky;
    border:1px solid black;
    padding: 10px;
    width: 150px;
    height: 150px;
    background-color: yellow;
    top:0;
    float: right;
}


.checkbox{
    margin:5px;
    width: 30px;
    height:30px;
}
