body{
	width: auto;
	height: auto;
	padding: 10px;
	margin-left: 45px;
	margin-right: 45px;
}

#Table1{
	padding: 20px;
	margin-top: 20px;
	margin-left: auto;
	margin-right:auto;
}

ol{
    padding: 15px;
}

li{
	width:auto;
	height: auto;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
}

td{
	text-align: center;
}

input{
	width: 250px;
	height: auto;
}

input:hover{
	background-color: #F3F781;
}

textarea{
 	height: auto;
 }

 textarea:hover{
 	background-color: #F3F781;
 }

#Send{
	width: 250px;
}

#LitleNote{
	position: sticky;
	border:1px solid black;
	padding: 10px;
	width: 150px;
	height: 150px;
	background-color: yellow;
	top:0;
	float: right;
}


.checkbox{
	margin:5px;
	width: 30px;
 	height:30px;
}

#Exemple{
	width: auto;
	height: auto;
	font-style: italic;
}

#buttons1{
	width: auto;
	height: auto;
	padding: 10px;
	margin: auto;
}	
